/* Place CSS styles here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 700px;
  background: #f3c0e0;
  position: relative;
}

            
    .hero {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        }
        
        .hero-content {
        max-width: 80%; /* Takes up 90% of the .hero container */
        margin: 0 auto; /* Center the content */
        text-align: center;
        font-family:"neonderthaw";
        font-size: 79px;
        color: #910000;
        }
    
.heading{
    text-align: center;
}
h2{
    text-align: left;
    margin: 56px;
    font-size: 78px;
    font-family:"neonderthaw";
    color:#910000;
}
h1{
    text-align: center;
    
}
h1 a {
    text-decoration: none; 
    color: #910000;
    font-family: "Freckle Face", serif;
    margin: 0 10px; 
    
}

h3 a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255); /* Slightly different green */
}
.headshot{
    height: 454px;
    margin-left: 880px;
    margin-top: -159px;
}

.about-p{
        height: 96px;
        display: flex
    ;
        flex-direction: column;
        margin: 47px;
        margin-right: 376px;
        text-align: center;
        font-family: "atkinson hyperlegible mono";
    }
    
.mimi{
    height: 366px;
    margin:10px;
}
.venus{
    height: 495px;
    margin:-20px;
}

.intro{
    position:absolute;
    margin:110px;
}

.JHL{
    position:absolute;
    height: 485px;
    margin:19px;
}
.grave{
    height: 388px;
    position:absolute;
}
.fish{
    height: 401px;
    position:absolute;
    margin:9px;
}
form {
	max-width: 400px;
	margin: 0 auto;
	padding: 121px;
	background-color: #cc7194;
    text-align:center;
    
}
.title-logo{
    padding: 20px;
    
}

button {
    background-color: #9e3a61;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-family: "neonderthaw";
    font-size:27px;
    margin:23px;
}
.portfolio-heading{
    text-align: center;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 1.8rem;
}
footer {
    color: #910000;
	padding: 15px;
	text-align: center;
    margin-top: 224px;
}
.painting{
    height: 444px;
    margin: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.instruction, .book {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.instruction{
    margin-left: 256px;
    font-family:"neonderthaw";
    font-size:39px;
}

.header-main-footer-demo-container {
    padding-top: 50px;
    display: grid
;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    grid-template-rows: min-content 1fr min-content;
}

.header-main-footer-header {
    grid-area: header;
}
.header-main-footer-main {
    grid-area: main;
}
.header-main-footer-footer {
    grid-area: footer;
}
.thank-you{
    text-align: center;
    margin-top: 264px;
    font-family: "neonderthaw";
    font-size: 100px;
    color: #910000;
}


.book {
  width: 847px;
  height: 654.5px;
  transform: translate(-50%, -50%) rotatex(10deg) rotatey(-10deg);
  transform-style: preserve-3d;
}

.page {
  width: 423.5px;
  height: 654.5px;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s;
}

.page:nth-child(1) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-1px);
  background: #9bc8d6;
}

.left-side:nth-child(1) {
  transform: translatez(1px) rotatey(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-2px) scalex(-1) translatex(100%);
  background: #cc7194;
}

.left-side:nth-child(2) {
  transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-3px);
  background: #f5f5f5;
}

.left-side:nth-child(3) {
  transform: translatez(3px) rotatey(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-4px) scalex(-1) translatex(100%);
  background: #f5f5f5;
}

.left-side:nth-child(4) {
  transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-5px);
  background: #f5f5f5;
}

.left-side:nth-child(5) {
  transform: translatez(5px) rotatey(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-6px) scalex(-1) translatex(100%);
  background: #f5f5f5;
}

.left-side:nth-child(6) {
  transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-7px);
  background: #f5f5f5;
}

.left-side:nth-child(7) {
  transform: translatez(7px) rotatey(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-8px) scalex(-1) translatex(100%);
  background: #f5f5f5;
}

.left-side:nth-child(8) {
  transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(9) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-9px);
  background: #f5f5f5;
}

.left-side:nth-child(9) {
  transform: translatez(9px) rotatey(-180deg);
}

.page:nth-child(10) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-10px) scalex(-1) translatex(100%);
  background: #ccc;
}





.cover-front:nth-child(1) {
  text-align: center;
  background: linear-gradient(#fed7ef, #cc7194) 50% 50% / 80% 86% no-repeat, linear-gradient(#ebafcb, #d98aab) 50% 50% / 90% 93% no-repeat, linear-gradient(#ffd8f1, #cc7194) no-repeat;
}
.cover-front:nth-child(1) h1 {
  font-family: "neonderthaw";
  font-size: 45px;
  color: #9e3a61;
}



